*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
} 
#card{
    height: 400px;
    width: 280px;
    background-color: #FFF;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}
#card img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
#card h1{
    font-size: 25px;
    margin: 10px 0;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;

}
#card h5{
    font-size: 20px;
    margin: 20px;
    color: red;
}
#card button{
    background-color: cadetblue;
    color: #fff;
    font-weight: 700;
    padding: 12px 20px;
    border-radius: 10px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
}
